* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: rgb(11, 11, 11);
}

.col {
    display: flex;
    gap: 20px;
    padding-left: 50;
    background-color: aqua;

}

.col .cont {
  display: flex;
  gap: 20px;
}

.col .ton {
justify-content: space-between;
 
 
}

/* header form */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.150);

}

.mylogo {
    position: relative;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin: 30px;
 
}

.navbar a:hover{
    color: blue;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    background-color: #101010;
    padding: 70px 10%;
}

.content {
    max-width: 600px;
}

.content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(235, 235, 255);

}

.content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    color: white;
}

span{
    color: blue;
}

.content {

}

.image-container{
    position: absolute;
    top: 25%;
    right: 100px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

 img{
    width: 400px;
    height: 400;
    border-radius: 600px;
}



/* about-me form */

#about-me {
    position: relative;
    width: 100%;
    justify-content: space-between;
    background-position: center;
    display: flex;
    align-items: center;
    background-color: #191919;
    padding: 70px 10%;
}

#about-me h3 {
  font-size: 32px;
  font-weight: 700;
  color: blue;
  padding: 30 0;
  }
  #name {
    text-align: left;
    max-width: 80%;
    }

    .content p{
      color: white;
    }

/* service form */

.card-container {
  background: #101010;
  width: 100%;
  padding: 100px 0;
}

.title h3{
  font-family: "Raleway", sans-serif;
  color: blue;
  font-size: 32px;
  font-weight: 700;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;

}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: blue;
}

h5 {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

.pra p {
  color: #fcfcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card a{
  background-color: #1919;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  transition: .4s;
}

.card a:hover {
  background-color: transparent;
  color: blue;
  border: 2px solid blue;
  cursor: pointer;
}
/* contact us form */

.top {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 27px;
}

.top a {
  background-color: #1919;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  transition:.4s;
}

.top a:hover {
  background-color: transparent;
  border: 2px solid blue;
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  margin: 22px 10px;
  color: blue;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 8px 16px blue;
  transition:.4s;
}

.social a:hover {
  transform: scale(1.3);
  transition: 3.5;
}

.cop {
  position: absolute;
  color: white;
  bottom: 35px;
  font-size: 25px;
  
}

h1 {

  color: blue;
}

input[type=text], select, textarea {
    width: 20%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #b82424;
    color: rgb(254, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2fac35;
  }

  h1 {
    color: blue;
    font-size: 32px;
    font-weight: 700;
  }
  
  .container {
    border-radius: 5px;
    background-color: #7660af;
    padding: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .col-95 {
    float: right;
    color: rgb(6, 255, 197);
  }

  .col-95 a {
    font-size: 18px;
    color: rgb(6, 255, 197);
  }

  .col-95 a:hover {
     transform: scale(1.05);
     transition: all 0.3s ease-in-out;
     color: darkblue;

  }
  

  /* Clear floats after the columns */  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  