@import url("https://fonts.googleapis.c0m/css2?famili=open+sns&display=swap");
@import "./assets/scss/_base.scss";

* {
    transition: all 0.2s ease-in-out;
}

body {
    background: #6c63ff;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: "open sans", sans-serif;
    color: #fff;
}

.card {
    background: #fdfdfd;
    border-radius: 20px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}

.text {
    padding: 1em;
    color: #333;
}

.card img.birthday {
    max-height: 10%;
}

.muted {
    opacity: 0.8;
}

.space {
    height: 100px;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body.play-music {
    animation: fadeIn 2s ease-in-out;
}

@media only screen and (min-width: 1000px) {
    .card {
        flex-direction: row-reverse;
    }
    .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

@media only screen and (max-height: 640px) {
    .card {
        flex-direction: row-reverse;
    }
    .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

